.teste{
    color: rgb(121, 43, 199);
    font-size: x-large;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: yellow ;
    padding: 2rem;
}